.view_more {
    font-family: 'Squada One', cursive;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    margin-bottom: 40px;
    display: block;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.view_more:hover {
    color: #f06666;
}